@font-face {
    font-family: "Gotham Book";
    src: url("/res/font/Gotham-Book.otf");
}

@font-face {
    font-family: "Gotham Bold";
    src: url("/res/font/Gotham-Bold.otf");
}

:root {
    --primary: #45475F;
    --secondary: #E5B8A8;
}

body {
    font-family: "Gotham Book";
    background-color: var(--bs-light);
}

h1,
h2,
h3,
h4 {
    font-family: "Gotham Bold";
}

.bg-primary {
    background-color: var(--primary)!important;
}

.bg-secondary {
    background-color: var(--secondary)!important;
}

.text-primary {
    color: var(--primary)!important;
}

.text-secondary {
    color: var(--secondary)!important;
}


/*
.card-header {
    background-color: var(--primary)!important;
}

.card {
    background-color: var(--primary)!important;
    border-color: white!important;
}
*/


/* MISC */

a.no-link {
    color: inherit;
    text-decoration: none;
}

a.no-link:hover {
    color: blue;
    text-decoration: underline;
}

.star-on {
    color: yellow;
    font-size: 20px;
}

.star-off {
    font-size: 20px;
}