<nav class="navbar navbar-expand sticky-bottom navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-center" style="height: 50px;">
        <div class="row">
            <div class="col text-center">
                <a href="?maintenance" class="text-white-50">A propos du site</a>
            </div>
            <div class="col text-center">
                <a href="?maintenance" class="text-white-50">Informations légales</a>
            </div>
            <div class="col text-center">
                <a href="?contact" class="text-white-50">Contacts</a>
            </div>
            <div class="col text-center">
                <a href="#" class="text-white-50">Retour haut de page</a>
            </div>
        </div>
    </div>
</nav>