<div class="sticky-top">
    <nav class="navbar navbar-expand sticky-top navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="./res/img/logo.png" height="40">
            </a>
            <div class="collapse navbar-collapse ">

                <ul class="navbar-nav flex-row flex-wrap ms-md-auto ">
                    <li class="nav-item mx-2">
                        <input id="input_search" class="form-control mx-2" placeholder="Search">
                    </li>
                    <li class="nav-item mx-2">
                        <button type="button" class="btn" onclick="search('input_search')">
                            <i class="fa fa-search text-secondary" style="font-size: 30px;"></i>
                        </button>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="btn nav-link" href="?panier">
                            <i class="fa fa-shopping-cart text-secondary" style="font-size: 30px;"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="btn nav-link text-secondary" href="?connection">Mon compte</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand navbar-light bg-primary border-top border-bottom ">
        <div class="navbar-nav d-flex justify-content-evenly w-100">
            <div class="nav-item">
                <a class="nav-link text-secondary" href="?catalogue">Catalogue</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-secondary" href="?conseil">Demander conseil</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-secondary" href="?rdv">Rendez-vous partage</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-secondary" href="?blog">Blog</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-secondary" href="?contact">Nous trouver</a>
            </div>
        </div>
    </nav>
</div>

<div id="alert_error_search" style="display: none;" class="alert alert-warning">
    Erreur lors de la recherche
</div>